doctype html
html
  head
    title= `${title}`
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet")
    script(src="script.js")

  body
    div.container.listing-reg
      h1 Simple Kitchen
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="#") Blog

      main
        #intro-text
          span Simple Kitchen
          h3
            | Simple & Comforting
            br
            | Recipes All Year Round
          p Pan-seared chicken, Grill shrimp, mac & cheese—need we say more?
          button.submit-buttton(type="submit") View Recipes

        #intro-image
          include form

      block content

      footer &copy; Copyright 2021